@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using StateManagement
@inject JwtState JwtState
@inject UserState UserState
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@using web.Data
@inject AuthService AuthService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if(JwtState.Jwt == ""){
            <NavLink class="nav-link" href="login">Login</NavLink>
            <NavLink class="nav-link" href="register">Register</NavLink>
        } else {
            <button class="btn btn-primary" @onclick="() => Logout()">Logout</button>
        }
    </div>

    <div class="content px-4">
            @Body
    </div>
</div>

@code{
    string URI;
    string userName;
    protected override async Task OnInitializedAsync() {
        URI =  NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        JwtState.Jwt = await JSRuntime.InvokeAsync<string>("blazorExtensions.ReadCookie", "jwt");
        try {
            var user = AuthService.ValidateJwt(JwtState.Jwt);
            UserState.user = new User{
                Id = user.Id,
                Email = user.Email,
                FullName = user.FullName
            };
        } catch(Exception) {
            await Logout();
        }
        
    }
    void ClearJwt() {
        JwtState.Jwt = "";
        UserState.user = null;
    }
    public async Task Logout() {
        await JSRuntime.InvokeAsync<string>("blazorExtensions.DeleteCookie", "jwt");
        ClearJwt();
        StateHasChanged();
        NavigationManager.NavigateTo("login");
    }
}